body{background:#bbbbbb;font-family:Arial,Helvetica,sans-serif;}
#_container{width:100%;height:100%;margin:0 auto;background:#bbbbbb;float:left;}
#_toolbar{height:40px;background:#e7e5e8;float:left;}
#_thumb{width:180px;background:#dcdcdc;float:left;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;}
#_doc{overflow:auto;background:#bbbbbb;float:left;}
.docImages{margin-bottom:5px;position:relative;}

#selectCss {margin-top:10px;background:#efefef; float:left;}
#_thumbIcon{box-shadow:1px 1px 0px #cccccc;}
#navi_first{width:25px;height:34px;margin-top:3px;background:url('image/RE_wt_iconsA1.png')  no-repeat -635px 0px; float:left;}
#navi_pre{width:25px;height:34px; margin-top:3px;margin-right:3px;background:url('image/RE_wt_iconsA1.png') no-repeat -613px 0px; float:left;}
#navi_ne{width:25px;height:34px; margin-top:3px;margin-left:5px;background:url('image/RE_wt_iconsA1.png') no-repeat -684px 0px; float:left;}
#navi_last{width:25px;height:34px;margin-top:3px;background:url('image/RE_wt_iconsA1.png') no-repeat -662px 0px; float:left; }
#navi_single{width:25px;height:34px; margin-top:3px;background:url('image/RE_wt_iconsA1.png') no-repeat -804px 0px; float:left;}
#navi_multi{width:25px;height:34px;margin-top:3px;background:url('image/RE_wt_iconsA1.png') no-repeat -829px 0px; float:left;}
#navi_zoomIn{width:28px;height:34px;margin-top:3px;background:url('image/RE_wt_iconsA1.png') no-repeat -735px 0px; float:left;}
#navi_zoomOut{width:28px;height:34px;margin-top:3px;background:url('image/RE_wt_iconsA1.png') no-repeat -707px 0px; float:left;}

#_plcImgsThumbs{padding:20px 10px 20px 10px;overflow-x:scroll;}
.thumbPgId{text-align:center; font-size:12px;}
.thumbnail{padding:10px 0px 10px 0px;margin-bottom:5px;position:relative;}
.thumbnail:hover{background:#b0b0b0;}
.thumbDiv{overflow:hidden;position:relative;margin:0 auto;}
.thumb_select{background:#727272;}
.iconBorder{border:#b2b0a7 1px solid;box-shadow:1px 1px 1px #b2b0a7 inset;}

#_thumbOutLine{font-size:12px;overflow-x:hidden;}
.outline_hover:hover{text-decoration:underline;cursor:pointer;}
.pointCursor{cursor:pointer;}
.defaultCursor{cursor:default;}

